
<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Corporate
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Corporate</li>
            </ol>
        </section>

        <form id="frmCorporateListing">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Corporate Listing</h2>

                        <div class="box box-default">
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtCorporateName" style="color: #333" class="">Name</label>
                                            <input type="text" class="form-control input-sm" name="" id="txtCorporateName" value="" placeholder="Corporate Name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button type="button" id="btnSearch" class="btn btn-instagram btn-sm">Search</button>
                                                <a href="@Url.Action("Index", "Corporate")" type="button" id="btnAdd" class="btn btn-success btn-sm">Add</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <a href="@Url.Action("Index", "Corporate")" type="button" id="btnEdit" class="btn btn-warning btn-sm">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid">

                                            <div class="box-body table-responsive no-padding mdm-table">
                                                <table class="table table-striped" id="tblCustomer">
                                                    <tr id="subhead">
                                                        <th></th>
                                                        <th>Corporate Name</th>
                                                        <th>Description</th>
                                                        <th>Address</th>
                                                        <th>Contact</th>
                                                        <th>No of members</th>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="r1" id="" class='' /></td>
                                                        <td>India's Council Union</td>
                                                        <td>jfgsydg dfuds</td>
                                                        <td>Dehli</td>
                                                        <td>044-369258</td>
                                                        <td>10</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="r1" id="" class='' /></td>
                                                        <td>Professional Corporate</td>
                                                        <td>fgsdgoihtuir ieurhtiergbj xfvc</td>
                                                        <td>Mumbai</td>
                                                        <td>022-369258</td>
                                                        <td>8</td>
                                                    </tr>

                                                </table>
                                            </div>

                                            <!-- /.box-body -->
                                            <div class="box-footer clearfix">
                                                <div id="divSearchGridOverlay" class="overlay">
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col (left) -->
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>

    </div>
</div>