@model MagniPi.Models.PostLogin.Event.EventViewModel

<script src="~/Scripts/Modules/Event/event-subscribe-event.js"></script>
<script src="~/Scripts/Modules/Event/event-subscribe-method.js"></script>

<style>
    .scroll-bar {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>

<div class="content-wrapper">

    <div class="container-fluid">

        @{Html.RenderPartial("_ServerMessage");}

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Event Subscriber
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Event Subscriber</li>
            </ol>
        </section>

        <form id="frmCustomerEventMapping">
            <section class="content">

                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Event Subscriber Details</h2>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="box box-default">
                                    <div class="box-body">

                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-12">
                                                    <h3 id="" class="page-header">Customer</h3>

                                                    <div class="form-group">
                                                        <label for="txtEventName" style="color: #333" class="">Filter Event</label>
                                                        <input type="text" class="form-control input-sm" name="" id="txtEventName" value="@Model.Event.Event_Name" placeholder="Enter Event Name" />

                                                        <input type="hidden" id="hdnEvent_Id" value="@Model.Event.Event_Id" name="Event.Event_Id" class="auto-complete-value" />
                                                        <input type="hidden" id="hdnEvent_Name" value="@Model.Event.Event_Name" name="Event.Event_Name" class="auto-complete-label">

                                                        <input type="hidden" id="hdntempCust_Id" value="" name="Temp_Cust_Id" />

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtCustomer_Name" style="color: #333" class="">Add Customer</label>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-sm" name="" id="txtCustomer_Name" value="" placeholder="Enter Customer Name" />

                                                                <input type="hidden" id="hdnCustomer_Id" value="" name="" class="auto-complete-value" />
                                                                <input type="hidden" id="hdnCustomer_Name" value="" name="" class="auto-complete-label">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button type="button" id="btnAdd" class="btn btn-success btn-sm">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="btn btn-group">
                                                            <button type="button" id="btnShowMembers" class="btn btn-warning btn-sm" style="display:none;">Show members</button>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="dvEventCustomers">

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="box box-default">
                                    <div class="box-body">

                                        <input type="hidden" id="hdfCurrent_Page" value="" />
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-12">
                                                    <h2 id="" class="page-header">Event Member Subscription</h2>

                                                    <input type="hidden" id="hdnMember_Id" value="" name="customer.member.Member_Id" />

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="box box-solid">

                                                                <div id="dvScroll">
                                                                    <div class="box-body table-responsive no-padding mdm-table">
                                                                        <table class="table table-striped" id="tblEventMember">
                                                                            <tr id="subhead">
                                                                                <th></th>
                                                                                <th>Member Name</th>
                                                                                <th>Contact</th>

                                                                            </tr>

                                                                        </table>
                                                                        <p id="loading" style="text-align:center; display:none;">
                                                                            <img src="~/Images/loading-small.gif" alt="Loading…" />
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                </div>
                                                            <!-- /.box -->
                                                        </div>
                                                        <!-- /.col (left) -->
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="btn btn-group">
                                                                <button type="button" id="btnSave" class="btn btn-success btn-sm" style="display:none;">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </form>

    </div>
</div>