
<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                About Us
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">About Us</li>
            </ol>
        </section>

        <form id="frmAboutUs">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        
                        <div class="box box-default">
                            <div class="box-body">

                                <div class="col-md-12 page-header">
                                    <h2 id="" class="">
                                        About Us
                                        <a href="@Url.Action("Index", "AboutUs")" type="button" id="btnUpdate" class="btn btn-warning btn-sm pull-right">Update</a>
                                    </h2>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center">

                                        <a href="~/Images/default.jpg">
                                            <img src="~/Images/default.jpg" style="height:250px; width:350px" />
                                        </a>

                                    </div>
                                </div>

                                <p>&nbsp;</p>    <p>The rankings for this list of the top 50 financial advisor blogs and bloggers are&nbsp;determined using website metrics measured by&nbsp;Moz Analytics, including Page Authority and MozRank, as well as additional traffic metrics measured by&nbsp;Alexa. (See here&nbsp;for the exact scoring formula that was used to determine who&rsquo;s &ldquo;best of the best!&rdquo;) Blogs must operate on a standalone advisor-controlled domain or subdomain to be considered (i.e., blogs published solely on a larger multi-blog platform will not be considered).</p>    <p>To be eligible, advisors must actually be registered as such, either through an SEC- or state-registered RIA, or as a registered representative of a broker-dealer. Advisor registration status details and blog data updates are powered by&nbsp;BrightScope.&nbsp;Blog data (and advisor rankings) are updated at the end of every month.</p>    <p>To have your blog considered for this list, be certain to&nbsp;find and claim your AdvisorPage profile&nbsp;and submit your blog information via BrightScope.&nbsp;</p>    <p>For the embed code to post a top advisor blog badge to your own website,&nbsp;click here&nbsp;or scroll to the bottom of this page.</p>    <p>Last best financial advisor blogs data update as of February 29, 2016.</p>    <p>&nbsp;</p>    <p>1.&nbsp;These are the top 10 YouTube channels in the UK right now.From familiar favorites like PewDiePie to free music channel NoCopyrightSounds.
                                <img alt="" height="346" src="~/Images/default.jpg" style="float:right" width="550" /></p>    <p>2.&nbsp;Snapchat launched a new feature called Memories.&nbsp;It lets users save snaps indefinitely, with the option to add them to their Snapchat Stories later on.</p>    <p>3.&nbsp;Google bought a startup that specializes in &quot;instant object recognition.&quot;&nbsp;French firm Moodstocks says it expects the deal to be completed in the next few weeks, but there&#39;s no word on how much Google is playing for the company.</p>    <p>4.&nbsp;Twitter is live-streaming the Wimbledon tennis tournament.It&#39;s a glimpse into the company&#39;s future.</p>    <p>5.&nbsp;The summer camp for billionaires, Allen &amp; Co&#39;s Sun Valley conference, has kicked off this week.&nbsp;We&#39;ve rounded up some of the biggest deals the conference has hatched over the years.</p>    <p>6.&nbsp;These are the four challenges to Netflix&#39;s expansion.&nbsp;A limited amount of local content, language barriers, expensive price points in some markets, and undeveloped payment processing and broadband infrastructure could all hold the company back in certain markets.&nbsp;</p>    <p>7.&nbsp;Food delivery company Deliveroo paid for sponsored memes on Twitter.&nbsp;Several high-profile &quot;reactions&quot; Twitter accounts that are known for their memes posted messages about Deliveroo on Wednesday alongside photos of Harry Potter, Gandalf, and Scar from &quot;The Lion King&quot;.</p>    <p>8.&nbsp;Snapchat hired a top Hollywood special effects guru to work on augmented reality.&nbsp;Raffael Dickreuter joined the company last month as a &quot;concept and augmented reality designer.&quot;</p>    <p>9.&nbsp;Fox News CEO Roger Ailes has denied allegations of sexual harassment made by former Fox News host Gretchen Carlson as &quot;false.&quot;&nbsp;Carlson&#39;s filed a lawsuit against Ailes claiming she was fired from the network after she &quot;rebuffed Mr Ailes&#39; sexual advances.&quot;</p>    <p>10.&nbsp;Sky Atlantic&#39;s boss thinks &quot;Game of Thrones&quot; fandom has hit a &quot;critical mass&quot; in the UK.&nbsp;Now Zai Bennett is on the hunt for a homegrown drama that can reach its scale.</p>  
                            
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
