@model MagniPi.Models.PreLogin.HomeViewModel

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">About Us</h1>
                        <p>Why our Clients love to work with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-wow-delay="300ms" data-wow-duration="1000ms" class="padding wow fadeIn animated" id="company-information" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="Header Image" class="img-responsive" src="@Model.aboutus.Header_Image_Url">
            </div>
            <div class="col-sm-6 padding-top">
               <p> @Html.Raw(Model.aboutus.About_Us_Template)</p>                
            </div>
        </div>
    </div>
</section>



