@model MagniPi.Models.PreLogin.HomeViewModel

<script src="~/Scripts/Modules/Home/service-list-event.js"></script>
<script src="~/Scripts/Modules/Home/service-list-method.js"></script>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Service</h1>
                        <p>Service Listing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@{Html.RenderPartial("_ServerMessage");}*@

<section class="padding-top-sm">
    <div class="container">

        <form id="frmServiceList">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <input type="hidden" value="" id="hdnService_Id" name="service.Service_Id" />
                    <input type="hidden" id="hdfCurrent_Page" value="@Model.Pager.CurrentPage" />

                    <div class="row">

						<div class="col-md-offset-8 col-md-4">
							<div class="form-group">
								<div class="input-group input-group-sm">
									<input type="text" placeholder="Enter title" class="form-control input-sm" name="name" id="txtTitle">
									<span class="input-group-btn">
										<button id="dvSearch" type="button" class="btn btn-info btn-flat lookup-btn"><span class="fa fa-search"></span></button>
									</span>
								</div>
							</div>
						</div>

                        @*<div class="form-group">
                            <input type="text" placeholder="Enter Title" class="form-control" name="name" id="txtTitle">
                        </div>
                        <div class="search" id="dvSearch">
                            <i class="fa fa-search"></i>
                        </div>*@
                    </div>
                    <br />

                    <div id="dvServiceList">

                    </div>

                    <p id="loading" style="text-align:center; display:none;">
                        <img src="~/Images/loading-small.gif" alt="Loading…" />
                    </p>

                </div>

            </div>
        </form>

    </div>
</section>