@model MagniPi.Models.PreLogin.HomeViewModel

<script src="~/Scripts/Modules/Home/testimonial-list-event.js"></script>
<script src="~/Scripts/Modules/Home/testimonial-list-method.js"></script>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Testimonials</h1>
                        <p>Testimonials Listing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <br />
        <input type="hidden" id="hdfCurrent_Page" value="@Model.Pager.CurrentPage" />

        <div id="testimonial-container">
            <div class="row">
                <div class="col-md-12">

                    <div class="testimonial" id="dvTestimonial">

                    </div>

                    <p id="loading" style="text-align:center; display:none;">
                        <img src="~/Images/loading-small.gif" alt="Loading…" />
                    </p>

                </div>
            </div>
        </div>

        <div class="padding"></div>

    </div>
</section>





