@model MagniPi.Models.PreLogin.HomeViewModel

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Testimonials</h1>
                        <p>Testimonials Listing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-wow-delay="300ms" data-wow-duration="1000ms" class="padding wow fadeIn animated" id="company-information" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">

            <div id="dvTestimonial">

            </div>

           
        </div>
    </div>

</section>



