
<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Customer Event Mapping
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Customer</li>
            </ol>
        </section>

        <form id="frmCustomerEventMapping">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Customer Event Details</h2>

                        <div class="box box-default">
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="dropdown pull-right">
                                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                Show  &nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="active"><a href="#">Pending Events</a></li>
                                                <li><a href="#">Attended Events</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div id="Pending">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h4>Pending Events</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-solid">

                                                <div class="box-body table-responsive no-padding mdm-table">
                                                    <table class="table table-striped" id="tblEvent">
                                                        <tr id="subhead">
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Type</th>
                                                            <th>Location</th>
                                                            <th>Start Date Time</th>
                                                            <th>End Date Time</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Abc Event</td>
                                                            <td>sdgsdghsdg dfhsdyfs isdhfgisdhgs sdifuhudsf</td>
                                                            <td>abc</td>
                                                            <td>sdgdsg, setesfe</td>
                                                            <td>11/08/2016 11:00</td>
                                                            <td>15/08/2016 05:00</td>
                                                        </tr>


                                                    </table>
                                                </div>

                                                <!-- /.box-body -->
                                                <div class="box-footer clearfix">
                                                    <div id="divSearchGridOverlay" class="overlay">
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box -->
                                        </div>
                                        <!-- /.col (left) -->
                                    </div>
                                </div>
                                
                                <div id="Attended">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h4>Attended Events</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-solid">

                                                <div class="box-body table-responsive no-padding mdm-table">
                                                    <table class="table table-striped" id="tblEvent">
                                                        <tr id="subhead">
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Type</th>
                                                            <th>Location</th>
                                                            <th>Start Date Time</th>
                                                            <th>End Date Time</th>
                                                            <th>Attended Memders</th>
                                                            <th>Non Attended Memders</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Bright Yoga Event</td>
                                                            <td>sdgsdghsdg dfhsdyfs isdhfgisdhgs sdifuhudsf</td>
                                                            <td>abc</td>
                                                            <td>sdgdsg, setesfe</td>
                                                            <td>01/08/2016 11:00</td>
                                                            <td>05/08/2016 05:00</td>
                                                            <td style="text-align:center"><a href="#" data-toggle="modal" data-target="#ShowMemberModal">5</a></td>
                                                            <td style="text-align:center"><a href="#">3</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Personality Development Event</td>
                                                            <td>xbkxfb  dfhsdyfs  sdifuhudsf isdfdssfsdf sgfsd</td>
                                                            <td>abc</td>
                                                            <td>sdgdsg, setesfe</td>
                                                            <td>28/07/2016 09:00</td>
                                                            <td>28/07/2016 06:00</td>
                                                            <td style="text-align:center"><a href="#">9</a></td>
                                                            <td style="text-align:center"><a href="#">1</a></td>
                                                        </tr>

                                                    </table>
                                                </div>

                                                <!-- /.box-body -->
                                                <div class="box-footer clearfix">
                                                    <div id="divSearchGridOverlay" class="overlay">
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box -->
                                        </div>
                                        <!-- /.col (left) -->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>

        <div class="modal fade" id="ShowMemberModal" role="dialog">
            <div class="modal-dialog" style="width:800px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Corporate Members</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-solid">

                                    <div class="box-body table-responsive no-padding mdm-table">
                                        <table class="table table-striped" id="tblCustomer">
                                            <tr id="subhead">
                                                <th>Member Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Address</th>
                                            </tr>
                                            <tr>
                                                <td>fsdfsd sdfds</td>
                                                <td>sfdf@addf.fdg</td>
                                                <td>34534534534</td>
                                                <td>sdgdsg, setesfe</td>
                                            </tr>
                                            <tr>
                                                <td>fsdfsd sdfds</td>
                                                <td>sfdf@addf.fdg</td>
                                                <td>34534534534</td>
                                                <td>sdgdsg, setesfe</td>
                                            </tr>
                                            <tr>
                                                <td>fsdfsd sdfds</td>
                                                <td>sfdf@addf.fdg</td>
                                                <td>34534534534</td>
                                                <td>sdgdsg, setesfe</td>
                                            </tr>
                                            <tr>
                                                <td>fsdfsd sdfds</td>
                                                <td>sfdf@addf.fdg</td>
                                                <td>34534534534</td>
                                                <td>sdgdsg, setesfe</td>
                                            </tr>
                                            <tr>
                                                <td>fsdfsd sdfds</td>
                                                <td>sfdf@addf.fdg</td>
                                                <td>34534534534</td>
                                                <td>sdgdsg, setesfe</td>
                                            </tr>

                                        </table>
                                    </div>

                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col (left) -->
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6 pull-right">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-success btn-sm" id="btnClose" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>