@model MagniPi.Models.PostLogin.Customer.CustomerViewModel

<script src="~/Scripts/Modules/Customer/customer-search-event.js"></script>
<script src="~/Scripts/Modules/Customer/customer-search-method.js"></script>

<div class="content-wrapper">

    <div class="container-fluid">

        @{Html.RenderPartial("_ServerMessage");}

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Customer
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Customer</li>
            </ol>
        </section>

        <form id="frmCustomerListing">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Customer Listing</h2>

                        <div class="box box-default">
                            <div class="box-body">

                                <input type="hidden" id="hdnCustomer_Id" value="" name="customer.Customer_Id" />
                                <input type="hidden" id="hdfCurrent_Page" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtCustomerName" style="color: #333" class="">Name</label>
                                            <input type="text" class="form-control input-sm" name="" id="txtCustomerName" value="" placeholder="Customer Name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtContact" style="color: #333" class="">Contact</label>
                                            <input type="text" class="form-control input-sm" name="" id="txtContact" value="" placeholder="Customer Contact" />
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button type="button" id="btnSearch" class="btn btn-instagram btn-sm">Search</button>
                                                <a href="@Url.Action("Index", "Customer")" type="button" id="btnAdd" class="btn btn-success btn-sm">Add</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button type="button" id="btnEdit" class="btn btn-warning btn-sm" style="display:none">Edit</button>
                                                <button type="button" id="btnAddMember" class="btn btn-instagram btn-sm" style="display:none">Add Member</button>
                                                @*<a href="@Url.Action("CustomerEventMapping", "Customer")" type="button" id="btnAssignedEvent" class="btn btn-success btn-sm">View subscription</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid">

                                            <div class="box-body table-responsive no-padding mdm-table">
                                                <table class="table table-striped" id="tblCustomer">
                                                    <tr id="subhead">
                                                        <th></th>
                                                        <th>Customer Name</th>
                                                        <th>Contact</th>
                                                        <th>Address</th>
                                                        <th>Registration Date</th>
                                                        <th>Is Indivisual</th>
                                                        <th>Is Active</th>
                                                    </tr>

                                                </table>
                                            </div>

                                            <!-- /.box-body -->
                                            <div class="box-footer clearfix">
                                                <div class="pagination pagination-sm no-margin pull-right">
                                                </div>
                                                <div id="divSearchGridOverlay" class="overlay">
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col (left) -->
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>

    </div>
</div>