
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Activity Board</a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Admin</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">

                    <li><a href="/Customer/Search"><i class="fa fa-circle-o text-info"></i> Customer </a></li>
                    <li><a href="/Event/Search"><i class="fa fa-circle-o text-info"></i> Event </a></li>
                    <li><a href="/Feedback/Search"><i class="fa fa-circle-o text-info"></i> Feedback </a></li>
                    <li><a href="/upload-file/index"><i class="fa fa-circle-o text-info"></i> Upload File</a></li>
                    

                </ul>
            </li>

            @*<li><a href="/Home/BlogListing"><i class="fa fa-circle-o text-info"></i> Blog </a></li>*@
            <li><a href="/blog/search-blogs"><i class="fa fa-circle-o text-info"></i> Blog </a></li>

            @*<li><a href="/Home/TestimonialListing"><i class="fa fa-circle-o text-info"></i> Testimonial </a></li>*@
            <li><a href="/testimonial/search-testimonials"><i class="fa fa-circle-o text-info"></i> Testimonial </a></li>

            @*<li><a href="/Home/ServiceListing"><i class="fa fa-circle-o text-info"></i> Service </a></li>*@
            <li><a href="/service/search-services"><i class="fa fa-circle-o text-info"></i> Service </a></li>

            <li><a href="/Home/AboutUs"><i class="fa fa-circle-o text-info"></i> About Us </a></li>
            <li><a href="/Home/ContactUs"><i class="fa fa-circle-o text-info"></i> Contact Us </a></li>

            @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>User Management</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

            </li>*@




        </ul>

    </section>
    <!-- /.sidebar -->
</aside>