<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <link href="/FrontContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="/FrontContent/css/font-awesome.min.css" rel="stylesheet">
    <link href="/FrontContent/css/animate.min.css" rel="stylesheet"> 
    <link href="/FrontContent/css/lightbox.css" rel="stylesheet"> 
	<link href="/FrontContent/css/main.css" rel="stylesheet">
	<link href="/FrontContent/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript" src="/FrontContent/js/jquery.js"></script>
    <script type="text/javascript" src="/FrontContent/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/wow.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/main.js"></script>   

    <link href="~/Content/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <script src="/Content/AdminLTE/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>

    <script src="/Scripts/generic.ajax.js"></script>

    @*<script src="~/Scripts/generic.autocomplete.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@

    <script src="~/Scripts/generic.message.js"></script>
    <script src="~/Scripts/generic-methods.js"></script>


</head><!--/head-->

<body>

	 @{Html.RenderPartial("_FrontHeader");}

	 @RenderBody()

	 @{Html.RenderPartial("_FrontFooter");}

	  @*<script type="text/javascript" src="/FrontContent/js/jquery.js"></script>
    <script type="text/javascript" src="/FrontContent/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/wow.min.js"></script>
    <script type="text/javascript" src="/FrontContent/js/main.js"></script>*@  
     
</body>

</html>