
<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Feedback
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Feedback Details</li>
            </ol>
        </section>

        <form id="frmFeedbackDetails">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        
                        <div class="box box-default">
                            <div class="box-body">
                                <h2 id="" class="page-header">Feedback Details</h2>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h3>Pokemon Scrap-2016 Event</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p>
                                                Details have been posted on the official site about a scheme called Pokémon Scrap in Japan. With this, from November 1st you can start collecting clippings which can give you codes to redeem on the campaign site from December 1st to get serial codes for various items in Pokémon Omega Ruby & Alpha Sapphire. While most of these are simply items, such as Nugget, Super Potion, Luxury Balls, Rare Candy & finally a Master Ball, three Mythical Pokémon are also obtained through this method. Shaymin, Keldeo & Victini are obtained this way.
                                                This campaign runs in Japan until April 30th 2015. The clippings can be obtained in various merchandise including booster packs for the upcoming TCG set, Gaia Volcano & Tidal Storm, in Pokemon Sandwich packs (Omega Ruby Strawberry Jam/Alpha Sapphire Tuna Bread flavours) and in Pokémon 3D Pencil Cases with more to be announced.
                                                There are 50 Pokémon Scrap cards to obtain. Shaymin needs 1, Nugget needs 3, Super Potion needs 5, Keldeo needs 7, Luxuy Ball needs 10, Rare Candy needs 13, Victini needs 16 and finally, to get a Master Ball, you need 20.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="pull-right">
                                        <div class="col-md-12">
                                            <p>written by Sanchita Sawant</p>
                                            <p>Date : 01/08/2016</p>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>

    </div>
</div>