
<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Upload File
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Upload File</li>
            </ol>
        </section>

        <form id="frmUploadFile" enctype="multipart/form-data">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        @*<h2 id="" class="page-header">Upload File</h2>*@

                        <div class="box box-default">
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="flUpload_File" style="color: #333" class="">Select File</label>
                                            <input type="file" class="btn btn-default btn-sm" name="" id="flUpload_File" value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button type="button" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                            <a href="@Url.Action("Index", "Home")" type="button" id="btnCancel" class="btn btn-warning btn-sm">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label blog_title">Uploaded Images</label>
                                        <div class="form-group">
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="ImagePreviewBox">
                                                        <img src="~/Images/default.jpg" style="height:180px;width:180px;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="ImagePreviewBox">
                                                        <img src="~/Images/default.jpg" style="height:180px;width:180px;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="ImagePreviewBox">
                                                        <img src="~/Images/default.jpg" style="height:180px;width:180px;" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </form>

        

    </div>
</div>

